In [3]:
# Cargamos librerías a utilizar
import datetime
from datetime import timedelta
import numpy as np
import pandas as pd
import boto3

In [9]:
# Generamos el cliente. Opción con credenciales
s3 = boto3.client('s3', aws_access_key_id = 'AKIAY7R7HGV6J72NJQ4U', 
                        aws_secret_access_key = '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',
                        region_name = 'us-east-1')

In [18]:
# Generamos el cliente. Opción sin credenciales
s3 = boto3.client('s3', region_name = 'us-east-1')

In [19]:
# Obtenemos la información
obj = s3.get_object(Bucket = 'bases-fer', Key = 'ads_views')
df = pd.read_csv(obj['Body'])

In [17]:
df.head()

          advertiser_id product_id        type        date
0  OAGTYWN8WFC997VLDJH7     ai66e7  impression  2023-04-01
1  2WPF1NXECF3G6NUMWDO7     8yddnr  impression  2023-04-01
2  03KNVBO915KY2ZPGA57J     z4pnuj  impression  2023-04-01
3  KD9PHCBGYFBRI9ET1O9R     wzlu86  impression  2023-04-01
4  IOBPI63RBJIHI5FB7U9O     35lrqw  impression  2023-04-01