In [1]:
# Cargamos librerías a utilizar
import datetime
from datetime import timedelta
import numpy as np
import pandas as pd
import boto3

# Seteamos las claves
import config
MY_API_KEY = config.MY_API_KEY
MY_SECRET_KEY = config.MY_SECRET_KEY

In [2]:
# Generamos el cliente. Opción con credenciales
s3 = boto3.client('s3', aws_access_key_id = MY_API_KEY, 
                        aws_secret_access_key = MY_SECRET_KEY,
                        region_name = 'us-east-1')

In [4]:
# Obtenemos la información
obj = s3.get_object(Bucket = 'bases-fer2', Key = 'ads_views')
df = pd.read_csv(obj['Body'])

In [9]:
df.tail()

              advertiser_id product_id        type        date
99995  8C88YB6E8YCGWU07HA7A     w2c5hd  impression  2023-05-30
99996  KD9PHCBGYFBRI9ET1O9R     d3ex6m  impression  2023-05-30
99997  OY5LNPB5A8FF43ITRZG3     trgwnt  impression  2023-05-30
99998  03KNVBO915KY2ZPGA57J     ju3ix9  impression  2023-05-30
99999  1OW4LWJSBJK6E1D9FDH7     8xko0x  impression  2023-05-30

In [6]:
# Obtenemos la información
obj2 = s3.get_object(Bucket = 'bases-fer2', Key = 'product_views')
df2 = pd.read_csv(obj2['Body'])

In [8]:
df2.tail()

              advertiser_id product_id        date
99995  5E325T5HYL61QSABVR5V     ef53ef  2023-05-30
99996  KD9PHCBGYFBRI9ET1O9R     847h5q  2023-05-30
99997  Y0W3K7OV6ZLILW96OO3K     qnrclp  2023-05-30
99998  03KNVBO915KY2ZPGA57J     g4d7hb  2023-05-30
99999  M0LU6DCI1WILGQBZ6808     npiwus  2023-05-30